<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/checkout.css">
    <title>Document</title>
</head>
<body>
    <section class="checkout" id="checkout">
        <div class="container">
            <form action="" method="post">
                <div class="checkout-box">
                    <p class="address">Homepage / Checkout</p>
                    <h1 class="checkout-title">Checkout</h1>

                    <div class="personal-information">
                        <h2 class="personal-information-title">Personal information:</h2>
                        <div class="row">
                            <div class="input-box">
                                <label for="fname">First name</label>
                                <input type="text" name="fname" id="fname">
                            </div>
                            <div class="input-box">
                                <label for="lname">Last name</label>
                                <input type="text" name="lname" id="lname">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-box">
                                <label for="phone">Phone</label>
                                <input type="text" name="phone" id="phone">
                            </div>
                            <div class="input-box">
                                <label for="email">Email</label>
                                <input type="text" name="email" id="email">
                            </div>
                        </div>
                    </div>

                    <div class="delivery-details">
                        <h2 class="delivery-details-title">Delivery details:</h2>
                        <div class="row">
                            <div class="input-box">
                                <label for="country">Country / Region</label>
                                <input type="text" name="country" id="country">
                            </div>
                            <div class="input-box">
                                <label for="city">Town / City</label>
                                <input type="text" name="city" id="city">
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-box">
                                <label for="street">Street</label>
                                <input type="text" name="street" id="street">
                            </div>
                            <div class="input-box">
                                <label for="postcode">Postcode</label>
                                <input type="text" name="postcode" id="postcode">
                            </div>
                        </div>
                    </div>

                    <div class="payment">
                        <h2 class="payment-title">Payment:</h2>
                        <div class="payment-details">
                            <input type="radio" name="form" id="dot-1">
                            <input type="radio" name="form" id="dot-2">
                            <input type="radio" name="form" id="dot-3">
                            <div class="category">
                                <label for="dot-1">
                                    <span class="dot one"></span>
                                    <span class="food">Internet banking</span>
                                </label>
                                <label for="dot-2">
                                    <span class="dot two"></span>
                                    <span class="food">Cash</span>
                                </label>
                                <label for="dot-3">
                                    <span class="dot three"></span>
                                    <span class="food">Digital wallet</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <div class="your-order">
                    <h2 class="your-oder-title">Your order:</h2>
                    <div class="bill">
                        <div class="subtotal">
                            <p>Subtotal:</p>
                            <p>$60.30</p>
                        </div>
                        <div class="delivery">
                            <p>Delivery:</p>
                            <p>$8.20</p>
                        </div>
                        <div class="total">
                            <p>Total:</p>
                            <p>$68.50</p>
                        </div>
                        <button>Purchase</button>
                    </div>
                    <div class="list">
                        <div class="list-box">
                            <img src="he/Jerky persimmon.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Jerky persimon</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 8.60</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="list-box">
                            <img src="he/Black beans.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Black beans</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 12.50</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="list-box">
                            <img src="he/Jerky persimmon.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Jerky persimon</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 8.60</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="list-box">
                            <img src="he/Jerky persimmon.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Jerky persimon</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 8.60</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="list-box">
                            <img src="he/Jerky persimmon.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Jerky persimon</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 8.60</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="list-box">
                            <img src="he/Jerky persimmon.png" alt="">
                            <div class="pp">
                                <div class="product">
                                    <p class="product-title">Jerky persimon</p>
                                    <i class="remove">X</i>
                                </div>
                                <div class="list-bill">
                                    <div class="quantity">
                                        <span class="minus">-</span>
                                        <span class="num">1 kg</span>
                                        <span class="plus">+</span>
                                    </div>
                                    <p class="price">$ 8.60</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                
            </form>

        </div>

    </section>
    <section class="footer">

    </section>
</body>
</html>